#misAmigos,
#sugerenciaAmigos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 16px 0px;
    gap: 20px;
}

#cajaAmigos {
    background: black;
    padding: 18px 10px;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    margin: 20px;
}

.amigo {
    transition: all 1s;
}

.amigo h3 {
    transition: font-size 1s;
}

.amigo:hover {
    padding: 10%;
}

.amigo:hover h3 {
    font-size: 30px;
}

.amigo:hover img {
    height: 16vh;
}

.amigo {
    list-style: none;
    text-align: center;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

h2 {
    text-align: center;
    padding: 20px;
}

.amigo img {
    transition: 1s;
    width: 100%;
    height: 20vh;
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    #misAmigos,
    #sugerenciaAmigos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 16px 0px;
        gap: 20px;
    }
}