* {
    margin: 0px;
    padding: 0px;
    font-family: 'Grandstander', cursive;
}

body {
    background-color: rgb(37, 37, 37);
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 15px;
    transition: padding 0.5s;
}

nav * {
    align-self: center;
}

nav a,
nav h2,
nav p,
p,
label {
    color: whitesmoke;
}

nav a {
    text-decoration: none;
    padding-left: 10px;
}

h1,
h2,
h3 {
    color: white;
}

main {
    margin: auto;
    width: 75%;
}

nav .icon {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 50px;
}

footer {
    grid-area: footer;
    background: black;
    padding: 15px;
    text-align: center;
}

footer p {
    color: white;
}