{% extends "base.html" %}
{% block title %}Mi superbiblio {% endblock %}
{% block content %}
    <link rel="stylesheet" href="../../media/estilos/inicio.css">
<main>
    <h2 id="title">Novedades</h2>
    <section>
    </li>
    <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
       Generos
     </a>
     <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
       {% for genre in genero %}
       <li><a class="dropdown-item" href="{% url 'inicio' %}">{{genre}}</a></li>
       {% endfor %}
     </ul> 
   </li>
        <div class="main">
            <div class="row">
                {% for videojuego in videojuego_list %}
                    <div class="columna">
                        <div class="content">
                            <img class="imagenJuego" src="{{videojuego.imagen.url}}" alt="Imagen" style="width:100%">
                            <h4 class="tituloVideojuego">{{videojuego.title}}</h4>
                            <button value="Comprar">Comprar</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
    </section>
</main>
<footer>
    <p>UNAI © 2020</p>
</footer>
{% endblock %}