{% extends "base.html" %} {% block title %}Robustiano Games{% endblock %} {% block content %}
<link rel="stylesheet" href="../../media/estilos/inicio.css">
<style>

</style>
<main>
    <h2 id="title">Mis juegos {{user.username}}</h2>
    <section>
        <div class="main">
            <div class="row">
                {% for videojuego in user.juegosComprados.all %}
                <div class="columna">
                    <div class="content">
                        {% for imagen in videojuego.imagen.all|slice:":1" %}
                        <a href="#"><img class="imagenJuego" src="{{imagen.imagen.url}}" alt="Imagen" style="height:100%;width:100%;  max-height: 200px; max-width: 400px;"></a>
                        {% endfor %}
                        <h4 class="tituloVideojuego">{{videojuego.title}}</h4>
                        <a href="#"><button value="Comprar" class="botonComprar">Informacion</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% block pagination %} {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span> {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a> {% endif %}
            </span>
        </div>
        {% endif %} {% endblock %}
    </section>
</main>
<footer>
    <p>UNAI © 2020</p>
</footer>
{% endblock %}