{% extends "base.html" %} {% block content %}
<h1>Añadir saldo</h1>
<style>
    label {
        color: white;
    }
    
    form {
        margin-left: 35%;
        margin-top: 10%;
    }
    
    input {
        border-radius: 10px;
        height: 40px;
        text-align: center;
    }
    
    #boton {
        border-radius: 10px;
        margin-left: 17%;
        height: 40px;
        width: 100px;
        margin-top: 10px;
    }
</style>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <img style="width: 100px; height: 100px; border-radius: 100px;" id="imagenPrevisualizacion">
        <input type="submit" value="Registrarse" id="boton">
    </form>
</div>
<script>
    const $seleccionArchivos = document.querySelector("#id_imagen"),
        $imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion");

    // Escuchar cuando cambie
    $seleccionArchivos.addEventListener("change", () => {
        // Los archivos seleccionados, pueden ser muchos o uno
        const archivos = $seleccionArchivos.files;
        // Si no hay archivos salimos de la función y quitamos la imagen
        if (!archivos || !archivos.length) {
            $imagenPrevisualizacion.src = "";
            return;
        }
        // Ahora tomamos el primer archivo, el cual vamos a previsualizar
        const primerArchivo = archivos[0];
        // Lo convertimos a un objeto de tipo objectURL
        const objectURL = URL.createObjectURL(primerArchivo);
        // Y a la fuente de la imagen le ponemos el objectURL
        $imagenPrevisualizacion.src = objectURL;
    });
</script>
{% endblock %}